<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WashMe</title>
  <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
</head>
<body ng-app="carApp">
<a href="#/login">Login</a>

<div ng-view></div>


    <footer>
      <a href="index.html">WashMe</a>
      <p>Copyright 2015 &reg; | <a href="#">All Rights Reserved</a> | <a href="#">Privacy Policy</a></p>
    </footer>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../angular.js"></script>
<!--<script src="../main.js"></script>-->
<script src="../user.js"></script>
<script src="../jquery.js"></script>

</html>
