* {
  font-family: 'Fira Sans', sans-serif!important;
}
*::-webkit-input-placeholder {
  color: #626262!important;
  padding-left: 5px;
  line-height: 23px;
}
a:hover {
  color: #57e4a4!important;
  text-decoration: none!important;
}
hr {
  width: 20%;
  border-top: 3px solid #eee;
}
.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}


/* NAV */
.wash-nav {
  /*background: transparent;*/
  background-color: rgba(7, 7, 7, 0.0);
  border: none;
}
.wash-nav a {
  color: #fff;
}
.navbar-brand {
  margin-top: 10px;
  font-size: 36px!important;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.35);
}
.navbar-right {
  /*margin: 38px 0px 0px -15px!important;*/
  margin: 19px 0px 15px -15px!important
}
.nav-back {
  background-color: rgba(7, 7, 7, 0.8);
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent!important;
}
.navbar-nav>li>a {
  padding: 6px 30px!important;
  font-size: 16px;
}
.navbar-nav>li.seed-nav-buttons>a {
  border: 1px solid #fff;
}
.navbar-nav>li.seed-nav-buttons>a:first-of-type {
  margin-right: 30px;
}
.navbar-toggle {
  margin-top: 33px!important;
}
.navbar-toggle .icon-bar {
  border: 2px solid #fff!important;
  width: 30px!important;
}
.navbar-collapse {
  webkit-box-shadow: none!important ;
  box-shadow: none!important ;
}

/* HOme overlay*/
.home-section {
  background-image: url('/images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section-1 {
  background-image: url('/images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section .home-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: inherit;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-section-1 .home-inner {
  position: relative;
}
.home-inner{
  position: absolute;
  top: 25%;
/* left: 50%; */
  width: 100%;
}
.home-inner h1,
.home-inner h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.home-section-1 .home-inner h1,
.home-section-1 .home-inner h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 6%;
}
.home-inner h2 {
  margin-bottom: 20px;
}
.home-inner a {
  color: #57e4a4;
  display: block;
  text-align: center;
  border: 1px solid #57e4a4;
  width: 140px;
  margin: 0 auto;
  padding: 5px;
}
.home-inner a:hover {
  color: color: #fff!important;
  background: #57e4a4!important;
  text-decoration: none;
}
.home-section .home-overlay .search-field {
  padding: 10% 0 0 0;
}
.home-section .home-overlay h1,
.home-section .home-overlay h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.home-section .home-overlay h1 {
  font-weight: 700;
  font-size: 56px;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 0px;
}
.home-section .home-overlay h2 {
  font-weight: 700;
  font-size: 44px;
  text-shadow: 5px 3px 5px  rgba(0, 0, 0, 0.35);
  margin-top: 10px;
}
.home-section .home-overlay input {
  text-align: center;
  display: block;
  margin: 0px auto 16px auto;
  width: 350px;
  padding: 6px 0;
  border-radius: 4px;
  border: none;
  font-size: 20px;
}
.home-section .home-overlay input #placeholder {
  color: #626262;
}
.home-search-btn button  {
  display: block;
  margin: 0 auto;
  background-color: #2ed98b;
  border: none;
  border-radius: 4px;
  width: 200px;
  color: #fff;
  padding: 7px 0;
  font-size: 20px;
}
.arrow-down {
  bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -2em;
  margin-bottom: 3em;
}
.arrow-down img {
  display: block;
  margin: 0 auto;
}

/*wash types */
section {
  background-color: #efefef;
}
.wash-contain{
  margin: 35px auto;
}
.wash-type {
  text-align: center;
  border: 1px solid #888888;
  padding: 3% 0% 4% 0%;
  margin: 0% 6%;
  width: 26%!important;
  background-color: #fff;
  color: #666666;
}
.wash-type:first-of-type {
  margin: 0 4% 0 0%;
}
.wash-type:last-of-type {
  margin: 0 0% 0 4%;
}
.wash-type a{
  border: 3px solid #57e4a4;
  padding: 1% 10%;
  margin-top: 0px;
  color: #57e4a4;
}
.wash-type a:hover {
  background: #57e4a4;
  color: #fff!important;
  border: 3px solid #57e4a4;
}

.wash-type ul {
  padding: 0px;
  margin-bottom: 30px;
}

.wash-type ul li {
  list-style-type: none;
}
.star-block {
  margin: 2% 0 12% 0;
}
.stars {
  width: 32px;
}


/* cities */
#cities {
  display:none;
}
.city-type {
  background-color: #fff;
  border: 1px solid #888888;
  padding: 8%;
  width: 75%;
  margin: 1% auto 5% auto;
}
#locations {
  display: block;
  margin: 10px auto 30px!important;
}
a.selectedcity{
  border: 3px solid #57e4a4;
  padding: 7px 10%;
  margin-top: 0px;
  color: #57e4a4;
  display: block;
  width: 26%;
  text-align: center;
  margin: 0 auto;
}
a.selectedcity:hover{
  background: #57e4a4;
  color: #fff!important;
  border: 3px solid #57e4a4;
}
/*results */
#start-results, .change-options {
  width: 75%;
  margin: 0 auto;
}
.change-options {
  display: block;
  position: relative;
  margin-bottom: 40px;
}
.new-location {
  float: right;
}
.new-wash {
  float: left;
}
#results h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.result-block {
  width: 100%;
  border: 2px solid #666;
  margin: 2% 0%;
  background-color: #fff;
}
.result-block:hover {
  border: 2px solid #57e4a4;
}
.image  img {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name h2 {
  margin-top: 48px;
}
.price p {
  float: right;
  font-size: 40px;
  margin-top: 36px;
  padding-right: 20px;
}
.rating p img {
  width: 32px;
  float: left;
  margin-top:45px;
  margin-right:5px;
}

/* add detailer */
.add-detailer {

  text-align: center;
  margin: 4% auto 5%;
  background-color: #fff;
  padding: 40px;
  width: 50%;
  border: 1px solid #888888;
}
.add-detailer h2{
  margin-top: 0px;
  margin-bottom: 25px;
}
input {
  margin: 7px auto!important;
  width: 225px;
}
input[type=file] {
  margin:0 auto;
}
input:focus {

  border:1px solid #57e4a4;
  box-shadow: 0 0 10px #57e4a4;
}
select {
  width: 225px;
  padding: 3px 0;
  height: 24px;
  margin: 4px!important;
  -webkit-appearance: menulist-button;
  background-color: #fff;
}
button {
  color: #fff!important;
  text-align: center;
  border: 3px solid #57e4a4;
  width: 140px;
  padding: 5px;
  background-color: #57e4a4;
  margin: 0 auto;
  margin-top: 10px!important;
}
button:hover {
  background-color: #fff;
  color: #57e4a4!important;
}

/*footer */
footer {
  height: 80px;
  background: #888888;
}
footer a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
}
footer p,
footer p a{
  /* margin: 0 0 10px; */
  text-align: center;
  color: #fff;
  margin-top: -8px;
  margin-bottom: 0px;
}
footer p a {
  display: inline-block;
  font-size: 14px;
}

@media (max-width: 767px) {
  .wash-nav {
    margin-top: -15px;
    background-color: rgba(7, 7, 7, 0.8);
    /*background-color: rgba(46, 217, 139, 1);*/
    height: 90px;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    background-color: rgba(7, 7, 7, 0.8);
    margin-top: 9px;
  }
}

